<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
      Your google API key goes here for Integration tests against REAL GOOGLE SERVER.
      If you don't have one, go to https://code.google.com/apis/console/ to generate it.
      -->
    <add key="ApiKey" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
